<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.oujiademo">

    <permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="FMXOS_PACKAGE_NAME" -->
        <!-- android:value="com.shion.cc" /> -->
        <!-- <meta-data -->
        <!-- android:name="FMXOS_APP_KEY" -->
        <!-- android:value="712a9fa7d1964ad09a579f39dc49d518" /> -->


        <!-- <meta-data -->
        <!-- android:name="FMXOS_SN" -->
        <!-- android:value="1144_00_10044" /> -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".statusBar.StatusActivity" />
        <activity android:name=".statusBar.AnimActivity" />
        <activity android:name=".activity.CoordinatorLayoutActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.DispatchTouchEventActivity" />
        <activity android:name=".activity.WifiActivity" />
        <activity android:name=".activity.GreenDaoActivity" />
        <activity android:name=".activity.HimalayaActivity" />
        <activity android:name=".activity.TulingActivity"></activity>
    </application>

</manifest>